@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;700&display=swap');

:root { 
    --text-color: rgb(60, 60, 60); 
    --almond: #f2d5cd; 
    --deep-blush: #e76684; 
    --cutty-sark: #507b75; 
    --sea-nymph: #74a39c; 
    --sinbad: #a0d1be; 
    --shadow: rgb(210, 210, 210); 
    --font-family: 'Plus Jakarta Sans', sans-serif; 
    --gradient: linear-gradient(to right, var(--deep-blush) 0%, var(--sinbad) 51%, var(--deep-blush) 100%); 
    --inverse-gradient: linear-gradient(to right, var(--sinbad) 0%, var(--deep-blush) 51%, var(--sinbad) 100%); 
}

/* fadeIn animation  */

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/* general styling  */

body { 
    font-family: var(--font-family);
    margin: 0; 
}

img { 
    width: 100%; 
}

div.wrapper {   
    margin-left: auto; 
    margin-right: auto; 
}

.clear { 
    clear: both; 
}

.float { 
    float: left; 
}

.main {    
    padding: 10% 10% 3% 10%; 
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
}

a { 
    text-decoration: none;
    color: var(--deep-blush); 
    transition: .25s; 
}

a:hover {
    color: var(--sinbad); 
    transition: .25s; 
}

h1, h2, h3 { 
    margin: 0; 
}

/* header and footer styling  */

header, footer { 
    text-align: center;
    vertical-align: middle; 
    border-width: 3px;
    width: 95%; 
    padding: 2.5%; 
    z-index: 99; 
    background-color: white;
    opacity: 95%; 
}

header {
    border-image: var(--gradient); 
    border-image-slice: 1;
    border-bottom-style: solid; 
    position: fixed; 
}

header a { 
    color: black; 
    margin: .5%;
    padding: 1.25%; 
    transition: .25s;  
    font-weight: bold;
    border-radius: 20px;
    font-size: 14pt; 
}

header a:hover { 
    color: white; 
    background-color: var(--sinbad);
    transition: .25s;  
}

.current { 
    color: white; 
    background-color: var(--deep-blush);
    transition: .25s; 
}

footer { 
    border-image: var(--gradient); 
    border-image-slice: 1; 
    border-top-style: solid; 
}

/* about page styling  */

#side { 
    width: 25%; 
    overflow-wrap: break-word;
}

#side > * { 
    margin-bottom: 5%; 
}

#side img { 
    border-radius: 40% 40% 40% 3%;  
}

#side h1::after {
    content: "";
    display: inline-block; 
    background-color: var(--sinbad); 
    width: 100%; 
    height: 3px; 
    border-radius: 20px; 
}

#socials i { 
    padding: 0 5%; 
    font-size: 24pt; 
}

#about { 
    font-size: 14pt; 
    margin-top: 2.5%; 
    margin-left: 10%; 
    width: 65%; 
}

/* projects page styling  */

/* side description */

#desc { 
    width: 25%; 
    position: fixed; 
    z-index: 98; 
    background-color: white;
}

#desc > * {
    margin-bottom: 5%; 
    width: fit-content; 
}

#desc i { 
    font-size: 75px; 
}

#github { 
    display: block; 
}

#title a { 
    color: black; 
}

#title a:hover{ 
    color: var(--deep-blush); 
}

#short::before { 
    content: "";
    display: inline-block; 
    background-color: var(--sinbad); 
    width: 100%; 
    height: 3px; 
    border-radius: 20px; 
    margin-bottom: 10px; 
}

/* projects */

#projects { 
    margin-left: 40%; 
    width: 60%;
}

#sav { 
    margin-top: 0; 
}

#fitnet { 
    margin-bottom: 0; 
}

.project { 
    margin: 10% 0; 
}

.img-container { 
    border-radius: 20px 20px 0 0; 
    border: .25px solid gray; 
    position: relative; 
}

.img-container i { 
    display: none; 
    padding: 3%; 
    border-radius: 50%; 
    background-color: white; 
    font-size: 40px; 
    top: 50%; 
    left: 50%; 
    position: absolute; 
    transform: translate(-50%, -50%);
}

.project-img { 
    border-radius: 20px 20px 0 0; 
    transition: .25s; 
}

.project-img:hover { 
    transition: .25s; 
}

.project-desc { 
    border: .25px solid gray; 
    position: relative; 
    z-index: 1; 
    background-color: var(--almond);
    padding: 5%; 
    margin-top: -5px; 
    transition: .25s; 
    border-radius: 0 0 20px 20px; 
}

.project-desc img { 
    background-color: white; 
    padding: 1%; 
    border-radius: 50%; 
    width: 10%; 
    box-shadow: 1px 1px 1px 1px var(--shadow);
}

.project-info { 
    margin-left: 5%; 
    width: 83%; 
}

.subtext { 
    font-size: 10pt;  
}

#class-link { 
    color: rgb(100, 100, 100); 
}

/* resume  */

#heading { 
    text-align: center;
    margin-bottom: 5%; 
}

.section-title { 
    width: 15%; 
}

.section-title h2 { 
    max-width: 100%; 
    width: fit-content; 
    overflow-wrap: break-word;
    padding-bottom: 10px; 
    border-bottom-style: solid; 
    border-width: 3px; 
    border-color: var(--sinbad); 
}

.section-body { 
    margin-left: 10%; 
    width: 75%; 
}

.section-body > * { 
    margin-bottom: 5%; 
}

.icon { 
    width: 10%; 
}

.icon img { 
    transition: .25s; 
    border-radius: 50%; 
}

.icon img:hover { 
    transition: .25s; 
    box-shadow: 1px 1px 1px 1px var(--shadow); 
}

.heading { 
    width: 90%; 
}

.pad-img { 
    width: 90%; 
    padding: 5%; 
}